@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./fonts/futura.scss";
  @import "./section.scss";
  @import "./links.scss";

  body {
    font-family: "Futura PT";
    @apply bg-neutral-900 text-white;
  }

  .variable-color {
    color: var(--variable-color);
  }
}
