@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./fonts/futura.scss";
  @import "./section.scss";
  @import "./links.scss";
  @import "./masks.scss";
  @import "./text.scss";
  @import "./button.scss";

  body {
    @apply bg-neutral-900;
  }

  .variable-color {
    color: var(--variable-color);
  }
}
