/* Underline styles */
a:not(.no-underline) {
  @apply relative -my-1 block overflow-hidden py-1;

  &::after {
    content: "";
    height: 0.1em;
    @apply absolute bottom-0 left-0 w-full -translate-x-full transform  opacity-0 transition-all duration-300;
    background-color: var(--variable-color);
  }

  &:hover,
  &:focus {
    color: var(--variable-color);

    &::after {
      @apply translate-x-0 opacity-100;
    }
  }
}

/* Fade in */
// a::after {
// 	content: '';
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 0.1em;
// 	background-color: hotpink;
// 	opacity: 0;
// 	transition: opacity 300ms, transform 300ms;
// 	opacity 1;
// 	transform: translate3d(-100%, 0, 0);
// }

// a:hover::after,
// a:focus::after {
// 	opacity: 1;
// 	transform: translate3d(0, 0, 0);
// }
